<!-- <p>empresa works!</p> -->
<h1>Home Empresa</h1>

<a class="nav-link" [routerLink]="['/registerE']">Registrar Datos Empresa</a>

<!-- <form (submit)="verAspirante()">
    Busqueda por habilidad: <input type="text" [(ngModel)]="aspirante.id" class="text" name="id" placeholder="ID">
    <button type="submit" class="signin">Buscar</button>
</form> -->

<form>
    <a class="nav-link" [routerLink]="['/verAspirante']" routerLinkActive="active"><b>Ver Aspirante</b></a>
    <a class="nav-link" [routerLink]="['/registerT']" routerLinkActive="active"><b>Registrar Trabajo</b></a>
    <a class="nav-link" [routerLink]="['/delTrabajo']" routerLinkActive="active"><b>Eliminar Trabajo</b></a>
    <table *ngIf="aspirantes.length > 0" class="table table-striped table-bordered">
        <thead bgcolor="#3972e0">
            <tr>
              <th scope="col" class="text-center">ID</th>
              <!-- <th scope="col" class="text-center">idCorreo</th> -->
              <th scope="col" class="text-center">Nombre</th>
              <th scope="col" class="text-center">Apellidos</th>
              <th scope="col" class="text-center">Edad</th>
              <th scope="col" class="text-center">País</th>
              <th scope="col" class="text-center">Estado</th>
              <th scope="col" class="text-center">Municipio</th>
              <th scope="col" class="text-center">Dirección</th>
              <th scope="col" class="text-center">Acerca de</th>
              <th scope="col" class="text-center">Descricpión</th>
              <th scope="col" class="text-center">Habilidades</th>
            </tr>
        </thead>
        <tbody *ngIf="show; else notShow">
                <tr *ngFor="let a of aspirantes" class="text-center">
                    <td> {{a.ID}} </td>
                    <td> {{a.Nombre}} </td>
                    <td> {{a.Apellidos}} </td>
                    <td> {{a.Edad}} </td>
                    <td> {{a.Pais}} </td>
                    <td> {{a.Estado}} </td>
                    <td> {{a.Municipio}} </td>
                    <td> {{a.Direccion}} </td>
                    <td> {{a.AcercaDe}} </td>
                    <td> {{a.Descripcion}} </td>
                    <td> {{a.Habilidades}} </td>
                </tr>
        
        </tbody>
        <tbody>
            <ng-template #notShow>
                <tr *ngFor="let a of aspirantes2" class="text-center">
                    <td> {{a.ID}} </td>
                    <td> {{a.Nombre}} </td>
                    <td> {{a.Apellidos}} </td>
                    <td> {{a.Edad}} </td>
                    <td> {{a.Pais}} </td>
                    <td> {{a.Estado}} </td>
                    <td> {{a.Municipio}} </td>
                    <td> {{a.Direccion}} </td>
                    <td> {{a.AcercaDe}} </td>
                    <td> {{a.Descripcion}} </td>
                    <td> {{a.Habilidades}} </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</form>