<!-- <p>register works!</p> -->
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<div class="register">
    <h2 class="active">Registro</h2>
    <form (submit)="register()">
        <input type="text" [(ngModel)]="user.name" class="text" name="name" autocomplete="off">
        <span>Nombre</span>
        <br><br>
        <input type="email" [(ngModel)]="user.email" class="text" name="email" autocomplete="off">
        <span>Correo</span>
        <br><br>
        <input type="password" [(ngModel)]="user.password" class="text" name="password" autocomplete="off">
        <span>Contraseña</span>
        <br><br>
        <input type="radio" [(ngModel)]="user.tipo" class="custom-checkbox" name="tipo" value="A">
        <label>Aspirante</label>
        <input type="radio" [(ngModel)]="user.tipo" class="custom-checkbox" name="tipo" value="E">
        <label>Empresa</label>
        <button type="submit" class="signin">
            Registrarme
        </button>
    </form>
</div>