<!-- <p>navbar works!</p> -->
<!-- <div class="shadow-sm p-3 mb-5 bg-body rounded"> -->
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: black;">
   <!-- #3889d4 -->
   <div class="container-fluid">
      <a class="navbar-brand" class="nav-link" [routerLink]="['/login-component']">
         <i class="fab fa-innosoft"></i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
         aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav">
            <a class="nav-link" [routerLink]="['']" routerLinkActive="active"><b>Pagina actual</b></a>
            <a class="nav-link" [routerLink]="['/']"><b>Home</b></a>
            <a class="nav-link" [routerLink]="['/login']"><b>Login</b></a>
            <a class="nav-link" [routerLink]="['/register']"><b>Register</b></a>
            <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
         </div>
      </div>

   </div>
</nav>
<!-- </div> -->