<h1>hola</h1>

<html>
  <body>
    
      <table>
        
        <form action="login.php" method="post">
          <h1>Hola2</h1>
          <tr>
            <td><h2>Iniciar Sesion</h2></td>
          </tr>
          <tr>
            <td><input type="email" name="email" placeholder="email..." required></td>
          </tr>
          <tr>
            <td><input type="password" name="password" placeholder="contraseña..." required></td>
          </tr>
          <tr>
            <input type="radio" name="tipo" value="1" required>Empresa
            <input type="radio" name="tipo" value="2" required>Aspirante
          </tr>
          <tr>
            <td><input type="submit" name="enviar" value="Iniciar Sesion"></td>
          </tr>
        </form>
      </table>
    
  </body>
</html>

<div>
  <table>
    <form>
      <tr>
        <td><h2>Iniciar Sesion</h2></td>
      </tr>
      <tr>
        <td><input type="email" name="email" placeholder="email..." required></td>
      </tr>
      <tr>
        <td><input type="password" name="password" placeholder="contraseña..." required></td>
      </tr>
      <tr>
        <input type="radio" name="tipo" value="1" required>Empresa
        <input type="radio" name="tipo" value="2" required>Aspirante
      </tr>
      <tr>
        <td><input type="submit" name="enviar" value="Iniciar Sesion"></td>
      </tr>
    </form>
  </table>
</div>

<router-outlet></router-outlet>