<!-- <p>login works!</p> -->
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<div class="login">
  <h2 class="active"> Iniciar Sesión </h2>  
  <form  (submit)="signin()">
    <input type="email" [(ngModel)]="user.email" class="text" name="email" autocomplete="off" required>
    <span>Correo</span>
    <br><br>
    <input type="password" [(ngModel)]="user.password" class="text" name="Password"  autocomplete="off" required>
    <span>Contraseña</span>
    <button type="submit" class="signin">
      Iniciar Sesión
    </button>
    <a [routerLink]="['/register']">Registrarme</a>
    <hr>
  </form>
</div>